
html, body, .sections_prose{
	height: 100%;
}

h1{
	font-family: 'Pacifico', cursive;
}

h2, h3, p{
	font-family: 'Montserrat', sans-serif;
}

#narrative{
	height: 100%;
	width: 33.3333%;
	overflow: scroll;
	position: absolute;
}

#map{
	width: 100%;
	height: 100%;
	position: absolute;
}

.fullscreen, .main-title{
	min-height:100%;
	width: 100%;
}

.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
    display:table;
    width: 100%;

}
.content-b {
	width: 100%;
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}

.content-c{
	position: absolute;
	bottom: 20px;
	/*Center on all browser when absolute*/
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0
}

.content-b h1{
    color: white;
    font-size: 70px;
}

.content-b h2, h3{
	color: white;
}

section{
	height: 30%;
}

#cover{
	text-align: center;
	background-color: rgba(147, 181, 186, .8)
}

#cover img{
	height: 45px;
	margin-top: 20px;
}

#cover h1{
	font-size: 55px;
}
#cover h1, h3{
	color: #585858;
}

#cover h3{
	font-size: 20px;
}

#cover h2{
	color: white;
	font-size: 30px;
}



/* background setup */
.background{
	background-image: url('../images/splasg_bg.png'); 
	background-size:cover;
	background-repeat:no-repeat;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
}

}